#contacts {
  background-color: #222222;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-gap: 1em; */
  padding: 0 4em;
  padding-top: 12em;
  padding-bottom: 7em;
  /* align-items: center; */
}

#contacts > div {
  color: #919191;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 200;
  text-transform: uppercase;
  align-self: center;
  border-bottom: 1px solid;
  text-align: center;
  width: 100%;
  padding: 0.5em;
}

#contacts > .socials {
  padding-top: 2em;
  color: white;
  display: flex;
  justify-content: space-around;
  border-bottom: none;
}

.social_logo {
  width: 30px;
  height: 30px;
}

#contacts > .copyright {
  font-size: 0.8em;
  border-bottom: none;
}


#email_svg{
  width: 30px;
  height: 30px;
}

.social_logo:hover{
  fill: rgb(255, 255, 105);
  transition: 1s ease color;
}