@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.header {
  z-index: 500;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 100;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 17px 0;
  background-color: #9e0020;
  color: white;
  min-height: 8vh;
}

.header_container {
  margin: auto;
  width: 80vw;
  /* background-color: pink; */
}

.header-row {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  filter: drop-shadow(6px 4px 0px #9e0020);
  border: 1px #9e0020;
  position: absolute;
  width: 200px;
  margin-left: 2em;
  /* left: 1em; */
  top: 2em;
}

.header-logo .first-line {
  font-size: 70px;
  line-height: 20px;
}
.header-logo .second-line {
  font-size: 45px;
  line-height: 0px;
}
.header-logo .third-line {
  font-size: 59px;
  margin-top: 8px;
}

.header-nav {
  margin-left: auto;
}

.header-nav {
  display: flex;
  justify-content: space-around;
}

.header-nav ul {
  display: flex;
  align-items: center;
}

.header-nav li:hover {
  /* color: #e3c24d; */
  color: rgb(255, 255, 105);
  transition: 0.1s ease color;
  font-weight: 700;
}

.header-nav li.active {
  /* color: #e3c24d; */
  color: rgb(255, 255, 105);
  transition: 0.1s ease color;
  font-weight: 700;
}

.header-nav li + li {
  margin-left: 50px;
}

.header-nav a {
  transition: color 0.3s ease;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger:hover {
  color: rgb(255, 255, 105);
  transition: 0.1s ease color;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

/* media queries */

@media only screen and (min-width: 1701px) {
  .header_container {
    width: 70vw;
  }
}

@media only screen and (max-width: 1700px) {
  .header_container {
    width: 70vw;
  }
}

@media only screen and (max-width: 1585px) {
  .header_container {
    width: 70vw;
  }
}

@media only screen and (max-width: 1400px) {
  .header_container {
    width: 80vw;
  }
}

@media only screen and (max-width: 1250px) {
  .header_container {
    width: 93vw;
    margin-left: 1em;
    justify-content: space-between;
    margin-right: 2em;
  }

  .header_container .burger {
    display: float;
    float: right;
  }

  .header-logo {
    margin-left: 2vw;
    filter: drop-shadow(4px 3px 0px #9e0020);
  }

  .header-logo .first-line {
    font-size: 60px;
    line-height: 0.2em;
  }
  .header-logo .second-line {
    font-size: 40px;
    line-height: 0.02em;
  }
  .header-logo .third-line {
    font-size: 52px;
    margin-top: 0.06em;
  }

  .nav-links {
    /* padding-top: 30px; */
    justify-content: space-around;
    /* width: 85vw;   */
    /* display: none; */
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    /* background-color: #9e0020c4; */
    background-color: #9e0020;
    /* display: flex; */
    flex-direction: column;
    align-items: left;
    /* justify-content: left; */
    width: 50vw;
    transform: translateX(100%);
    /* display: none; */
    transition: transform 0.5s ease-in;
    padding-bottom: 5em;
  }

  .header-nav ul {
    /* display: none; */
  }

  .nav-active {
    top: 8vh;
    transform: translateX(0%);
  }

  .header-nav li + li {
    margin-left: 0;
  }

  .burger {
    display: block;
  }
}

@media only screen and (max-width: 1200px) {
  .header_container {
    width: 96vw;
  }
  .header_container {
  }
}

@media only screen and (max-width: 992px) {
  .header-logo {
    position: absolute;
    width: 200px;
    margin-left: 1em;
    top: 2em;
  }
}

@media only screen and (max-width: 768px) {
  .header_container {
    width: 95vw;
    /* margin-left: 1em;
    justify-content: space-between;
    margin-right: 1em; */
  }

  .header-logo {
    /* color: yellow; */
    position: absolute;
    /* width: 200px;
    left: 1em;
    top: 2em; */
    /* margin-left: 2vw;    */
    /* filter: drop-shadow(4px 3px 0px #9e0020);  */
  }

  .header-logo .first-line {
    font-size: 50px;
    line-height: 0.15em;
  }
  .header-logo .second-line {
    font-size: 33px;
    line-height: 0.2em;
  }
  .header-logo .third-line {
    font-size: 42.5px;
    margin-top: 0.01em;
  }
}

@media only screen and (max-width: 576px) {
  .header_container {
    width: 93vw;
  }

  header {
    position: fixed;
  }

  /* .header-logo {
    filter: drop-shadow(3px 3px 0px #9e0020);
   
  } */

  /* .header-logo .first-line {
    font-size: 40px;
    line-height: 0.15em;
  }
  .header-logo .second-line {
    font-size: 26px;
    line-height: 0.2em;
  }
  .header-logo .third-line {
    font-size: 34px;
    margin-top: 0.001em;
  } */
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
