@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#home{
  background-image: url('../../img/bg/home.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

#home::after{
  position: absolute;
  content: "";
  background: rgba(177, 133, 21, 0.5); 
}

#home_pic{
  background-image: url('../../img/bg/home.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;  
  background-size: auto 1280px;  
  height: inherit;
  width: inherit;  
  filter: drop-shadow(6px 10px 20px rgba(0, 0, 0, 0.6)); 
}

#home .motto{
  font-family: 'Anton', sans-serif;  
  font-weight: 400;
  font-size: 8em;
  line-height: 13vh;
  color: white;
  filter: drop-shadow(6px 4px 0px #9E0020);
  border: 1px #9E0020;
  position: relative;
  float: left;  
  width: 100%;
  padding: 1vw;  
  margin-left: 1vw; 
  margin-top: 25vh;

  display: none;
}


/* media queries */
@media only screen and (min-width: 1701px){
  
} 

@media only screen and (max-width: 1700px) {
  
} 


@media only screen and (max-width: 1585px) {
  
}

@media only screen and (max-width: 1400px) {
   
}


@media only screen and (max-width: 1200px) {  
  
} 


@media only screen and (max-width: 992px) {   
  
}


@media only screen and (max-width: 768px) {
 
}

@media only screen and (max-width: 576px) { 


  

  #home > .container{
    background-image: url('../../img/bg/home1.jpg');
    /* background-image: url('../../img/bg/home.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; 
    width: 100vw;
    height: 100vh;

  }

  .container{
    display: grid;
    grid-template: 1fr 1fr;
    /* background-color: tomato; */
    align-items: end;
    justify-content: start;
    height: 100vh;
    padding-bottom: 6em;
  }

  .container ul{
   /* background-color: rgb(75, 168, 78); */
   justify-content: start;
   align-items: bottom;    
    
 
    
    /* background-color: yellow; */
    font-family: 'Anton', sans-serif;  
    font-weight: 400;
    font-size: 4em;
    line-height: 10vh;
    color: white;
    filter: drop-shadow(6px 4px 0px #9E0020);
    border: 1px #9E0020;
    position: relative;
    /* float: left;   */
    width: 100%;
    
    /* display:inline-block;
    vertical-align: bottom; */
    /* padding: 1vw; */
    
    margin-left: 4vw; 
    /* margin-top: 10vh; */
  }

  
  
  
}


/* @keyframes mottoFade {
  from { 
    opacity: 0;
    transform: translateX(-100px)
  }
  to{
    opacity: 1;
    transform: translateX(0px)
  }  
} */

@keyframes mottoFade {
  from { 
    opacity: 1;
    transform: translateX(0px)
  }
  to{
    opacity: 0;
    transform: translateX(-100px)
  }  
}

@keyframes mottoReveal {
  
  from { 
    opacity: 0;
    transform: translateX(-100px)
  }
  to{
    opacity: 1;
    transform: translateX(0px)
  }
  
} 