splitter{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--main-font-color);
  transition: all 2s ease-out;
  z-index: 1;
}

.spread-up{
  height: 200px;
}


/* .splitter{
  position: absolute;
  width: 100vw;
  height: 8vh;
  background-color: rgb(28,28,28);
  color: yellow;
} */